
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(/Black.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto";
}

.container {

    background-color: rgb(86, 194, 252);
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}


.container h1{
    font-size: 50px;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

button {
    padding : 15px 25px;
    border-radius: 10px;
    border: none;
    background-color:rgb(238, 241, 238);
    font-size: 20px;
}

button:hover {
    background-color: rgb(65, 252, 106);
}








